@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

body {
  @apply bg-[#0B0F19] text-slate-100;
  background-image: radial-gradient(circle at top right, #1e1b4b, transparent 40%),
                    radial-gradient(circle at bottom left, #0f172a, transparent 40%);
  background-attachment: fixed;
}

